.octotree-sidebar { position:fixed; top:0; bottom:0; left:0; width:250px; background-color:#f8f8f8; border-right:1px solid #ddd; z-index:999991; transition:transform 0.2s ease; transform:translateX(-100%); }
.octotree-visible { transform:translateX(0); }

/* header */
.octotree-header { height:41px; background-color:#F3F3F3; background-image:linear-gradient(#F9F9F9, #F3F3F3); background-repeat:repeat-x; border-bottom:1px solid #E5E5E5; }
.octotree-header > h1, 
.octotree-header > h2 { margin:0; padding:0 8px; font-weight:normal; text-overflow:ellipsis; white-space:nowrap; }
.octotree-header > h1 { line-height:22px; height:22px; font-size:16px; }
.octotree-header > h2 { line-height:18px; height:18px; font-size:12px; }
.octotree-header > h1:before { font-family:octicons; content:'\f001'; color:#bbb; margin-right:4px; width:16px; display:inline-block; text-align:center; }
.octotree-header > h2:before { font-family:octicons; content:'\f020'; color:#bbb; margin-right:4px; width:16px; display:inline-block; text-align:center; }

/* jstree overrides */
.octotree-tree { padding:10px 0; overflow:auto; }
.octotree-sidebar .tree, .octotree-sidebar .blob { font:normal normal 16px octicons; display:inline-block; margin-right:5px; text-decoration:none; -webkit-font-smoothing:antialiased; }
.octotree-sidebar .tree:before { content:'\f016'; color:#80a6cd; }
.octotree-sidebar .blob:before { content:'\f011'; color:#777; }
.octotree-sidebar .jstree-anchor { color:#4183c4 !important; }
.octotree-sidebar .jstree-anchor:hover { text-decoration:none !important; /* Safari needs this */ }
.octotree-sidebar .jstree-wholerow-hovered { background:#eee; }
.octotree-sidebar .jstree-wholerow-clicked { background:#dbeeff; }

/* token form */
.octotree-form { display:none; margin:0; padding:10px 0; border-bottom:1px solid #ddd; }
.octotree-form input { width:90%; margin:5px auto; display:block; }
.octotree-form button { width:50%; margin:5px auto; min-width:120px; display:block; }

/* toggle button */
.octotree-toggle { position:absolute; top:5px; right:-30px; width:30px; height:30px; padding:6px 6px !important; color:black; text-align:center; line-height:1; z-index:999992; border-left:0; border-radius:0 3px 3px 0; }
.octotree-toggle:hover { color: #4183C4; }
.octotree-toggle > span { font:normal normal 16px octicons; line-height:1; display:inline-block; text-decoration:none; -webkit-font-smoothing: antialiased; }
.octotree-toggle > span:after { content: '\f078'; }
.octotree-visible > .octotree-toggle > span:after { content: '\f0a4'; }